.App {
  background-image: linear-gradient(to right bottom, #1d6b8a, #43a6b9);
  background-size: cover;
  background-repeat: no-repeat;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.div_todo {
  /* background: linear-gradient(to bottom, #eee, #ccc);
  box-shadow: 1px 1px 5px #ccc;
  padding: 10px; */

  /* background-color: #F9C784;
  border: 2px solid #E66771;
  padding: 10px;
  border-radius: 6px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.2);
  text-align: center;
  font-size: 20px;
  color: #333; */

  background-color: #e2ddc7;
  border: 4px dashed #6d4c41;
  padding: 20px;
  border-radius: 25px;
  box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.3);
  text-align: center;
  font-size: 24px;
  color: #333;
  font-family: 'Roboto', sans-serif;
}

.div_user {
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 5px;
  padding: 20px;
}

.nav_container {
  background-color: #f9f9f9;
  padding: 10px;
  border: 1px solid #ccc;
  /* Если навбар - это список ссылок, то можно добавить стили для списка */
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.form {
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.input {
  border: 2px solid #ccc;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 20px;
  width: 100%;
  max-width: 400px;
}
.btn {
  background-color: #648baf;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
  transition: background-color 0.2s ease;
}
.btn:hover {
  background-color: #486a8a;
}
.input:focus {
  outline: none;
  border-color: #7fc4f5;
}
button {
  margin: 10px;
}

.main {
  display: flex;
  justify-items: center;
  flex-direction: column;
}
.main,
img {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 500px;
  height: 500px;
}
.nav_container,
main {
  display: flex;
  justify-items: center;
  align-items: center;
}
